<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Smithfield 29th Ward</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Smithfield 29th Ward">
  <meta name="author" content="smithfield29thWard">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="home-heart-black.png">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <section id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="#" class="navbar-item is-size-5">
          <span class="ml-2">Smithfield 29th Ward</span>
        </a>
      </div>
    </nav>
    <section class="section pt-2 pb-2">
      <div class="container">
        <h1 class="title">Sacrament Meeting</h1>
        <h2 class="subtitle">
          {{date}}
        </h2>
        <figure class="image is-16by9">
          <iframe class="has-ratio" width="640" height="360" :src="embed" frameborder="0" allowfullscreen></iframe>
        </figure>
        <div class="pt-2">
          <p class="subtitle is-6 pt-2">
            <strong>Link:</strong> 
            <a :href="link" target="_blank" class="is-hidden-touch">{{link}}</a>
            <a :href="link" class="is-hidden-desktop">{{link}}</a>
          </p>
          <button class="button is-ghost is-small" @click="modalState = true">Video Player Issues</button>
        </div>
        
      </div>
    </section>

    <hr>

    <section v-if="meetings.length > 0" class="section pt-0">
      <div class="container">
        <h1 class="title">Classes</h1>
        <h6 class="subtitle is-6">
          Please contact your instructor if your class is not listed or you do not have a required password.
        </h6>
        <div class="container" id="classes">
          <aside class="menu">
            <div v-for="meeting in meetings">
              <ul class="menu-list">
                <li>
                  <a :href="meeting.link">
                    <span class="has-text-weight-semibold">{{meeting.name + ":"}}</span>
                    <span style="word-wrap: break-word;">{{meeting.link}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
        </div>    
      </div>
    </section>
      
    <section class="section pt-1">
      <div class="container">
        <h6 class="subtitle is-6">
          <strong>Relief Society:</strong> If the one click link does not let you in, the meeting ID is: "862 4988 1519" and the password is: "mTWN4c".
        </h6>
        <h6 class="subtitle is-6">
          <strong>Stake Devotional:</strong> If needed, the event code is "38479". We have not needed these in the past.
        </h6>
      </div>
    </section>
    
    <section class="section pt-3">
      <hr>
      <div class="container">
        <p class="is-size-7">
          This website is not an official, Church-sponsored website. This website is maintained by the Smithfield 29th Ward technology specialists K. Pickett and J. Bainbridge. Contact us with any issues or questions at smithfield29tech@gmail.com
        </p>
      </div>
    </section>

    <div class="modal is-active" v-if="modalState">
      <div class="modal-background" @click="modalState = false"></div>
      <div class="modal-content">
        <div class="box mx-5">
          <div class="content pt-1">
            <p class="title mb-2">Broken Embedded Player</p>
            <ul>
              <li>We apologize for any confusion this has caused.</li>
              <li>Our Youtube account does not meet the requirements to embed Youtube Live streams.</li>
              <li>We are testing some changes this week (11/22) to see if it will function.</li>
              <li>If the error continues, we will remove the embedded player next week.</li>
              <li>Link to stream on Youtube: <a :href="link" target="_blank" class="is-hidden-touch">{{link}}</a>
            <a :href="link" class="is-hidden-desktop">{{link}}</a></li>
            </ul>
          </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="modalState = false"></button>
    </div>

  </section>
  <script src="index.js"></script>
</body>

</html>
